<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Portafolio Web de Brianda Campoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Brianda Campoy">
    <link rel="stylesheet" href="./style.css">
    <title>Portafolio Brianda Campoy</title>
</head>
<body>
    <header>
        <div class="header__title">
            <p class="name">Brianda Campoy</p>
            <p class="speciality">Software engineer</p>
        </div>
    </header>
    <nav>
        <div class="homesettings">
            <img class="icon" src="assets/icons/home-settings-gray.png">
        </div>
        <ul class="nav__sections">
            <li><a href="./index.html"><img class="icon" src="assets/icons/bxs-info-circle.svg" alt=""></a></li>
            <li><a href="./projects.html"><img class="icon" src="assets/icons/bxs-folder.svg" alt=""></a></li>
            <li><a href="./education.html"><img class="icon" src="assets/icons/bxs-graduation.svg" alt=""></a></li>
            <li><a href="./contact.html"><img class="icon" src="assets/icons/bxs-contact.svg" alt=""></a></li>
        </ul>
        <div class="sizing">
            <img class="icon" src="assets/icons/bxs-checkbox.svg" alt="">
            <img src="assets/icons/bxs-grid-alt.svg" alt="" class="icon">
        </div>
    </nav>
    <section class="main-home">

    </section>
</body>
</html>